<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
    var dirPath = 'file/', // 资源目录（下载到服务器 static/里面的 哪个文件夹）
        allUrls = [window.location.href]; // 所有要下载的路径

    var scriptNode = document.createElement('script');
    scriptNode.src = 'http://127.0.0.1:3000/jquery-1.8.3.js';
    document.body.appendChild(scriptNode);
    scriptNode.onload = () => {
        $('link').each((index, ele) => {
            allUrls.push(ele.href);
        });
        $('script').each((index, ele) => {
            allUrls.push(ele.src);
        });
        $('img').each((index, ele) => {
            allUrls.push(ele.src);
        });

        var jsonStr = { filepaths: allUrls,dirPath: dirPath};
        $.ajax({
            type: 'POST',
            url: 'http://127.0.0.1:3000/urlDownLoadFile',
            contentType: "application/json;charset=utf-8",
            dataType: 'json',
            data: JSON.stringify(jsonStr)
        });
    }
</script>
</body>
</html>
